.app-container {
  text-align: center;
  background-color: rgb(228, 228, 228);
}

.row {
  display: flex;
  justify-content: center;
}

.hl-row {
  text-align: center;
}

h1 {
  margin: 20px auto;
}

.cards-container {
  width: 100px;
}

.input-container {
  text-align: center;
  /* width: 280px; */
  margin: 10px;
  /* width: 300px; */
}

.input-col {
  width: 380px;
}
